#experiences {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Matches the viewport height */
    width: 100%;
    padding: 50px 100px 50px 100px;
    box-sizing: border-box;
    overflow-y: auto; /* Allows scrolling within the section if needed */
    background-color: #f8f9fa; /* Light gray background for demonstration */
}

#experiences::-webkit-scrollbar {
    display: none;
}

.experience-section {
    margin-top: 12px;
}

h1 {
    margin-bottom: 24px
}

h3 {
    margin-bottom: 22px;
    margin-top: 0px;
    font-size: 12px;
}