body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#projects {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Matches the viewport height */
  width: 100%;
  padding: 50px 100px 50px 100px;
  box-sizing: border-box;
  overflow-y: auto; /* Allows scrolling within the section if needed */
  background-color: #f8f9fa; /* Light gray background for demonstration */
}

#projects h3 {
  font-size: 16px;
  margin-top: 12px;
}